# Dependencies
node_modules/

# Production builds
dist/
build/

# Logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# helm charts
charts/

# Lock files
yarn.lock
package-lock.json